// წყურვილი
color: rgba(255, 255, 255, 0.22);
 font-size: 13.73px;
 font-family: TBC Contractica CAPS;
 font-weight: 700;
 letter-spacing: 0.55px;
 word-wrap: break-word
---
// 87%
color: white;
 font-size: 22.25px;
 font-family: TBC Contractica CAPS;
 font-weight: 700;
 letter-spacing: 0.78px;
 word-wrap: break-word
---
// 87%
color: white;
 font-size: 22.25px;
 font-family: TBC Contractica CAPS;
 font-weight: 700;
 letter-spacing: 0.78px;
 word-wrap: break-word
---
// 87%
color: white;
 font-size: 22.25px;
 font-family: TBC Contractica CAPS;
 font-weight: 700;
 letter-spacing: 0.78px;
 word-wrap: break-word
---
// შიმშილი
color: rgba(255, 255, 255, 0.22);
 font-size: 13.73px;
 font-family: TBC Contractica CAPS;
 font-weight: 700;
 letter-spacing: 0.55px;
 word-wrap: break-word
---
// 87%
color: white;
 font-size: 22.25px;
 font-family: TBC Contractica CAPS;
 font-weight: 700;
 letter-spacing: 0.78px;
 word-wrap: break-word
---
// არმორი
color: rgba(255, 255, 255, 0.22);
 font-size: 13.73px;
 font-family: TBC Contractica CAPS;
 font-weight: 700;
 letter-spacing: 0.55px;
 word-wrap: break-word
---
// სიცოცხლე
color: rgba(255, 255, 255, 0.22);
 font-size: 13.73px;
 font-family: TBC Contractica CAPS;
 font-weight: 700;
 letter-spacing: 0.55px;
 word-wrap: break-word
---
// 1
color: white;
 font-size: 17.70px;
 font-family: Inder;
 font-weight: 400;
 letter-spacing: 1.42px;
 word-wrap: break-word
---
// 4
color: white;
 font-size: 17.70px;
 font-family: Inder;
 font-weight: 400;
 letter-spacing: 1.42px;
 word-wrap: break-word
---
// 4
color: white;
 font-size: 17.70px;
 font-family: Inder;
 font-weight: 400;
 letter-spacing: 1.42px;
 word-wrap: break-word
---
// 4
color: white;
 font-size: 17.70px;
 font-family: Inder;
 font-weight: 400;
 letter-spacing: 1.42px;
 word-wrap: break-word
---
// 1
color: white;
 font-size: 17.70px;
 font-family: Inder;
 font-weight: 400;
 letter-spacing: 1.42px;
 word-wrap: break-word
---
// 1
color: white;
 font-size: 17.70px;
 font-family: Inder;
 font-weight: 400;
 letter-spacing: 1.42px;
 word-wrap: break-word
---
// 2
color: white;
 font-size: 17.70px;
 font-family: Inder;
 font-weight: 400;
 letter-spacing: 1.42px;
 word-wrap: break-word
---
// 1
color: white;
 font-size: 17.70px;
 font-family: Inder;
 font-weight: 400;
 letter-spacing: 1.42px;
 word-wrap: break-word
---
// 8
color: white;
 font-size: 17.70px;
 font-family: Inder;
 font-weight: 400;
 letter-spacing: 1.42px;
 word-wrap: break-word
---
// 141
color: white;
 font-size: 17.70px;
 font-family: Inder;
 font-weight: 400;
 letter-spacing: 1.42px;
 word-wrap: break-word
---
// 141
color: white;
 font-size: 17.70px;
 font-family: Inder;
 font-weight: 400;
 letter-spacing: 1.42px;
 word-wrap: break-word
---
// 3
color: white;
 font-size: 17.70px;
 font-family: Inder;
 font-weight: 400;
 letter-spacing: 1.42px;
 word-wrap: break-word
---
// სწრაფი სლოტი
color: rgba(255, 255, 255, 0.53);
 font-size: 20.36px;
 font-family: TBC Contractica CAPS;
 font-weight: 700;
 letter-spacing: 9.06px;
 word-wrap: break-word